<nav class="p-4 mx-auto">
  <div class="container flex items-center justify-between mx-auto">
    <a routerLink="/" class="flex  text-gray-600 items-center ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">yilverStore</span>
    </a>
    <div class="flex items-center">


      <a routerLink="/products" class="mr-6 text-xl">Products</a>
      <div class="relative" (mouseenter)="showCart.set(true)" (mouseleave)="showCart.set(false)">
        <a routerLink="/checkout">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="2"> <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path> <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path> <path d="M17 17h-11v-14h-2"></path> <path d="M6 5l14 1l-1 7h-13"></path> </svg>
          <span
            class="absolute left-7 px-1 text-lg font-bold text-blue-500 -top-1">{{cartStore.productsCount()}}</span></a>
        @if (showCart() && cartStore.productsCount()) {

        <div [ngClass]="{'show-cart-animation': showCart()}"
          class="absolute right-0 z-30 w-48 p-2 mt-2 text-white rounded-sm bg-slate-400">
          @for (product of cartStore.products(); track $index) {
          <div class="flex items-center justify-between">
            <span>{{product.qty}} {{product.title | slice: 0:10}} </span>
          </div>
          }
          <hr class="my-4 border-gray-500 border-t-1" />
          <div class="flex justify-between py-3 font-light">
            Total:
            <span class="not-italic font-bold">{{cartStore.totalAmount() | currency}}</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</nav>
